
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/

# Env files
.env
.env.*

# Docs build artifacts
site/

# Node modules
node_modules/
